.carousel-item {
  height: 350px;
  width: 100px;
}

.carousel-caption{
  color: black;
}
span{
  color: black;
}

.carousel-control-prev{
  padding-left: 5px;
}

.carousel-control-next{
  padding-left: 5px;
}