.titulo{
    text-align: center;
}
.sec1{
    text-align: center;
    background-color: #fbfbfd;
    height: 700px;
}
.sec2 {
    text-align: center;
    background-color: #fbfbfd;
    height: 700px;
}