/*
    Bloco 1
*/
.logo p{
    font-weight: bold;
}


/*
    Bloco 2
*/

.bloco2{
    background-color: #fbfbfd;
    display: flex;
}

.perfil{
    text-align: center;
}
.p-perfil{
    font-weight: bold;
}
.equipe{
    text-align: center;
}
.p-equipe{
    font-weight: bold;
}
/*
    BLOCO 3
*/
.areaImagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
}