{% load static %}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

.navbar{

}

.logo{

    margin-left: auto;
    margin-right: auto;
}

.footer{
    margin-top: 10%
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    border-top: solid 1px #eee;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}