.sobre {
    background-color: #fbfbfd;;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.titulo {
    animation: fadeInLeft 2s ease-in-out;
}

.titulo p {
    padding-right: 100px;
    padding-left: 100px;
}

.beneficio{
    background-color: #fbfbfd;
    animation: fadeInRight 2s ease-in-out;
}

.bora {
    background-color: #fbfbfd;
    animation: fadeInRight 2s ease-in-out;
}



/*
    Animação
*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-300px);
    }
    to {
      opacity: 1;
    }
}