
/*
 *  CSS Helper Class
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.pt-table {
  display: table;
  width: 100%;
  height: -webkit-calc(100vh - 4px);
  height: -moz-calc(100vh - 4px);
  height: calc(100vh - 4px); }

.pt-tablecell {
  display: table-cell;
  vertical-align: middle; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.relative {
  position: relative; }

.primary,
.link:hover {
  color: #FA6862; }

.no-gutter {
  margin-left: 0;
  margin-right: 0; }
  .no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.nicescroll-cursors {
  background: #FA6862 !important; }

.preloader {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .preloader.active.hidden {
    display: none; }

.loading-mask {
  background-color: #FA6862;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20%;
  -webkit-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  -moz-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  -o-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s; }
  .loading-mask:nth-child(2) {
    left: 20%;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .loading-mask:nth-child(3) {
    left: 40%;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .loading-mask:nth-child(4) {
    left: 60%;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .loading-mask:nth-child(5) {
    left: 80%;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s; }

.preloader.active.done {
  z-index: 0; }

.preloader.active .loading-mask {
  width: 0; }

/*------------------------------------------------
    Menu
-------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  
  
}

#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  display: inline;
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}


/*------------------------------------------------
    Conteudo
-------------------------------------------------*/

.logo {
  position: absolute;
  top: 10%;
  left: 30%;
}

/*------------------------------------------------
    CARDs
-------------------------------------------------*/
.flip-container{
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper{
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flipper{
	-webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

	-o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back{
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: auto;
    left: auto;
}

.front{
	background-color: transparent;
	z-index: 2;
}

.back{
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
}

.front .name {
    font-size: 2em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 200px;
    left: 18%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.back-logo {
    position: absolute;
    top: 40px;
    left: 90px;
    width: 160px;
    height: 117px;
    background: url() 0 0 no-repeat;
}

.back-title {
    font-weight: bold;
    color: #00304a;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #acd7e5;
    font-family: Courier;
    font-size: 2em;
}

.back p {
    position: fixed;
    bottom: auto;
    left: auto;
    right: auto;
    text-align: center;
    padding: 0 20px;
    font-family: arial;
    line-height: 2em;
}

.box1, .flip-container, .back, .front{
	top: 35%;
	left: 5%;
	width: 320px;
    height: 510px;
	position: absolute;
}
/*------------------------------------------------
    BOX2
-------------------------------------------------*/

.flip-container2{
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}

.flip-container2:hover .flipper2,
.flip-container.hover2 .flipper2{
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flipper2{
	-webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

	-o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front2, .back2{
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absoluto;
    top: auto;
    left: auto;
}

.front2{
	background-color: transparent;
	z-index: 2;
}

.back2{
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
}

.front2 .name2 {
    font-size: 2em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 200px;
    left: 18%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.back-logo2 {
    position: absolute;
    top: 40px;
    left: 90px;
    width: 160px;
    height: 117px;
    background: url() 0 0 no-repeat;
}

.back-title2 {
    font-weight: bold;
    color: #00304a;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #acd7e5;
    font-family: Courier;
    font-size: 2em;
}

.back2 p {
    position: fixed;
    bottom: auto;
    left: auto;
    right: auto;
    text-align: center;
    padding: 0 20px;
    font-family: arial;
    line-height: 2em;
}
.box2, .flip-container2, .back2, .front2{
	top: 35%;
	left: 25%;
	width: 320px;
    height: 510px;
	position: absolute;
}

/*------------------------------------------------
    BOX 3 
-------------------------------------------------*/

.flip-container3{
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}

.flip-container3:hover .flipper3,
.flip-container.hover3 .flipper3{
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flipper3{
	-webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

	-o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relativo;
}

.front3, .back3{
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absoluto;
    top: auto;
    left: auto;
}

.front3{
	background-color: transparent;
	z-index: 2;
}

.back3{
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
}

.front3 .name3 {
    font-size: 2em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 200px;
    left: 18%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.back-logo3 {
    position: absolute;
    top: 40px;
    left: 90px;
    width: 160px;
    height: 117px;
    background: url() 0 0 no-repeat;
}

.back-title3 {
    font-weight: bold;
    color: #00304a;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #acd7e5;
    font-family: Courier;
    font-size: 2em;
}

.back3 p {
    position: fixed;
    bottom: auto;
    left: auto;
    right: auto;
    text-align: center;
    padding: 0 20px;
    font-family: arial;
    line-height: 2em;
}
.box3, .flip-container3, .back3, .front3{
	top: 35%;
	left: 40%;
	width: 320px;
    height: 510px;
	position: absolute;
}

/*------------------------------------------------
    BOX 4
-------------------------------------------------*/

.flip-container4{
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
	
	border: 1px solic #ccc;
}

.flip-container4:hover .flipper4,
.flip-container.hover4 .flipper4{
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flipper4{
	-webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

	-o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absoluto;
}

.front4, .back4{
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: relative;
    top: auto;
    left: auto;
}

.front4{
	background-color: transparent;
	z-index: 2;
}

.back4{
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #f8f8f8;
}

.front4 .name4 {
    font-size: 2em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 200px;
    left: 5%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.back-logo4 {
    position: absolute;
    top: 40px;
    left: 90px;
    width: 160px;
    height: 117px;
    background: url() 0 0 no-repeat;
}

.back-title4 {
    font-weight: bold;
    color: #00304a;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #acd7e5;
    font-family: Courier;
    font-size: 2em;
}

.back4 p {
    position: fixed;
    bottom: auto;
    left: auto;
    right: auto;
    text-align: center;
    padding: 0 20px;
    font-family: arial;
    line-height: 2em;
}
.box4, .flip-container4, .back4, .front4{
	top: 35%;
	left: 57%;
	width: 320px;
    height: 510px;
	position: absolute;
}
/*------------------------------------------------
    Footer
-------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
      margin-bottom: 250px;
    }
    .footer {
      height: 255px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer h5 {
	color: #aaa
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

/*------------------------------------------------
    Responsive
-------------------------------------------------*/

@media (max-width: 1440px) {
	body {
      margin-bottom: auto;
    }
    .footer {
      height: 265px;
    }
}
@media (max-width: 1024px){
	body {
      margin-bottom: auto;
    }
    .footer {
      height: auto;
    }
}
@media (max-height: 768px){
	body {
		margin-bottom: auto;
	}
	.footer {
		height: auto;
		bottom: 0;
		right: 0;
		width: 100%;
		position: fixed;
	}
}
@media (max-width: 425px) {
    body {
      margin-bottom: auto;
    }
    .footer {
      height: 475px;
	  bottom: 0;
	  right: 0;
	  width: 100%;
	  position: fixed;
    }
}
@media (max-width: 320px) {
	body {
		margin-bottom: auto;
	}
	.footer {
	  height: auto;
	  bottom: 0;
	  right: 0;
	  width: 100%;
	  position: fixed;
	}
}
