{% extends 'modelo/modelo.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'paginas/css/index.css' %}">
{% endblock %}

{% block title %}Pagina Inicial{% endblock %}

{% block content %}
<body>
    <div class = "logo">
        <img src = "..\static\paginas\img\Logo.png" alt = "">
        <p> Fundada em 1997 por um grupo de consultores de TI (Indústria financeira) e Telecom (Embratel), há mais de duas décadas a OpenTech vem atuando com destaque em projetos, implementação, e sustentação de sistemas corporativos e seus componentes de infraestrutura e software. </p>
    </div>
    <hr>
    <div class = "bloco2">
        <div class = "perfil">
            <h2 class = "title-perfil"> Perfil </h2>
            <p class = "p-perfil"> A OpenTech utiliza todo o seu know how para oferecer soluções personalizadas de gerenciamento em tecnologia da informação, agregando valor e credibilidade aos serviços prestados por seus clientes. </p>
            <ul class = "lista-perfil">
                <dt> Quality Assurance </dt>
                <dt> Assessment </dt>
                <dt> Documentation </dt>
            </ul>
        </div>
        <div class = "vertical"></div>
        <div class = "equipe">
            <h2 class = "title-equipe"> Equipe </h2>
            <p class = "p-equipe"> A OpenTech está sempre renovando seu conhecimento, reciclando suas metodologias,  buscando qualificação e sempre dando o apoio necessário para o desenvolvimento dos seus colaboradores. </p>
        </div>
    </div>
    <hr><br>
    <div class = "bloco3">
        <div class = "resume">
            <h2> Veja algumas áreas de atuação: </h2><br>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <img class = "areaImagem" src = "..\static\paginas\img\resumo.png" alt = "resumo dos servicos da OT">
    </div>
</body>
{% endblock %}