{% extends 'modelo/modelo.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'paginas/css/index.css' %}">
{% endblock %}

{% block title %}Pagina Inicial{% endblock %}

{% block content %}
<body>
    <h1 class = "titulo"> Serviços e Soluções </h1> <hr>

    <div class = "sec1">
        <div class = "servicos_solucoes">
            <dl class = "primeiro_quadro">
                <dt> Serivços Profissionais </dt>
                <dd> Poderia vir um texto aqui explicando melhor o que seria isso</dd>
                <dt> Deployment </dt>
                <dd></dd>
                <dt> Commisioning </dt>
                <dd></dd>
                <dt> O&M </dt>
                <dd></dd>
                <dt> Suporte e Managed Server </dt>
                <dd></dd>
                <dt> Big Data </dt>
                <dd></dd>
                <dt> Fast Data </dt>
                <dd></dd>
                <dt> Cloud Foundry </dt>
                <dd></dd>
                <dt> BI </dt>
                <dd></dd>
            </dl>
        </div>
    </div><hr>
    <div class = "sec2">
        <div class = "projetos_solucoes">
            <dl class = "segundo_quadro">
                <dt> Projetos ou Soluções </dt>
                <dt> Integração e/ou extensão das soluções dos nosso parceiros juntamente das soluções existentes na base instalada dos clientes (legado) </dt>
            </dl>
        </div>
    </div><hr>
    <div class = "sec3">
            <div class = "servico_especializado">
                <dl class = "terceiro_quadro">
                    <dt> Serviço Especializado </dt>
                    <dt> Multi-Cloud como: </dt>
                    <dt> AWS </dt>
                    <dt> Azure </dt>
                    <dt> OpenStack </dt>
                    <dt> CloudFoms </dt>
                    <dt> DevOps como: </dt>
                    <dt> CD/CI </dt>
                    <dt> Automação/esteiras de testes. </dt>
                </dl>
            </div>
    </div><hr>
    <div class = "sec4">
        <div class = "solucoes_gerencia">
            <dl class = "quarto_quadro">
                <dt> Soluções de Gerência </dt>
                <dt> Torees de Linux/AIX </dt>
                <dt> Storage Multi Brand </dt>
                <dt> Backup </dt>
                <dt> Restore Multibrand </dt>
                <dt> Hyperconvergencia e virtualização </dt>
                <dt> Middleware </dt>
                <dt> Telecom (OSS) </dt>
            </dl>
        </div>
    </div><hr>
    <div class = "sec5">
        <div class = "servicos_especiais_integracao">
            <dl class = "quinto_quadro">
                <dt> Serviços especiais de Integração </dt>
                <dd> Entrerprise Bus </dd>
                <dt> Message Queueing </dt>
                <dt> SOA </dt>
                <dt> RestAPi </dt>
                <dt> entre outros tipos. </dt>
            </dl>
        </div>
    </div><hr>
</body>


{% endblock %}