{% extends 'modelo/modelo.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'paginas/css/index.css' %}">
{% endblock %}

{% block title %}Pagina Inicial{% endblock %}

{% block content %}
<body>
    <h1 class = "titulo"> Serviços e Soluções </h1>

    <div class = "sec1">
        <div class = "servicos_solucoes">
            <dl class = "primeiro_quadro">
                <dt> Serivços Profissionais </dt>
                <dd> Poderia vir um texto aqui explicando melhor o que seria isso</dd>
                <dt> Deployment </dt>
                <dd></dd>
                <dt> Commisioning </dt>
                <dd></dd>
                <dt> O&M </dt>
                <dd></dd>
                <dt> Suporte e Managed Server </dt>
                <dd></dd>
                <dt> Big Data </dt>
                <dd></dd>
                <dt> Fast Data </dt>
                <dd></dd>
                <dt> Cloud Foundry </dt>
                <dd></dd>
                <dt> BI </dt>
                <dd></dd>
            </dl>
        </div>
    </div>
    <div class = "sec2">
        <div class = "projetos_solucoes">
            <dl class = "segundo_quadro">
                <dt> Serivços Profissionais </dt>
                <dd> Poderia vir um texto aqui explicando melhor o que seria isso</dd>
                <dt> Deployment </dt>
                <dd></dd>
                <dt> Commisioning </dt>
                <dd></dd>
                <dt> O&M </dt>
                <dd></dd>
                <dt> Suporte e Managed Server </dt>
                <dd></dd>
                <dt> Big Data </dt>
                <dd></dd>
                <dt> Fast Data </dt>
                <dd></dd>
                <dt> Cloud Foundry </dt>
                <dd></dd>
                <dt> BI </dt>
                <dd></dd>
            </dl>
        </div>
    </div>
    <div class = "sec3">
            <div class = "solucoes_gerencia">
                <dl class = "terceiro_quadro">
                    <dt> Serivços Profissionais </dt>
                    <dd> Poderia vir um texto aqui explicando melhor o que seria isso</dd>
                    <dt> Deployment </dt>
                    <dd></dd>
                    <dt> Commisioning </dt>
                    <dd></dd>
                    <dt> O&M </dt>
                    <dd></dd>
                    <dt> Suporte e Managed Server </dt>
                    <dd></dd>
                    <dt> Big Data </dt>
                    <dd></dd>
                    <dt> Fast Data </dt>
                    <dd></dd>
                    <dt> Cloud Foundry </dt>
                    <dd></dd>
                    <dt> BI </dt>
                    <dd></dd>
                </dl>
            </div>
    </div>

</body>


{% endblock %}