<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'paginas/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'paginas/css/modelo.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Opentech</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Localização</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Vagas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
    {% block content %}
    {% endblock %}
    <footer class="footer text-center text-lg-start bg-white text-muted mb-0">

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-grayish"></i>Opentech
                    </h6>
                    <p>
                        Aqui ficara a missão visão e valores da empresa--Aqui ficara a missão visão e valores da
                        empresa--Aqui ficara a missão visão e valores da empresa--.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Produtos
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Produtos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Produtos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Produtos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Produtos</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Link Util
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Link Util</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Link Util</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Link Util</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Link Util</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Endereço</h6>
                    <p><i class="fas fa-home me-3 text-grayish"></i> Rua Dr Alfredo de Castro, 200, Barra funda, São
                        Paulo-SP</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-grayish"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-grayish"></i> (11) 99999-9999 </p>
                    <p><i class="fas fa-print me-3 text-grayish"></i> (11) 99999-9999</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(47, 35, 41, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">link para redirecionar util</a>
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>